@charset "UTF-8";
body{
	background-color:pink;
	background-postion:center;
	background-attachment:fixed;
	background-size:cover;
}
.cont{
	width:300px;
	height:750px;
	background-color:black;
	margin-left:500px;
	margin-top:70px;
	border-radius:15px
}
h1{
	margin-left:50px;
	padding-top:10px;

}
 label{
	margin-left:20px;
}
input{
	background-color:  transparent;
    color: white;
   	border-bottom:2px solid white;
    width: 200px;
    height: 20px;
    margin-left: 40px;
    border-radius: 5px;
	
}
input:hover{
	background-color:orange;
	color:black;
	border:none;
}
input:active{
	background-color:black;
	color:white;
}

input::placeholder{
	color:white;
}
button{
	width:200px;
	height:30px;
	border:none;
	margin-top:10px;
	margin-left:43px;
}
button:hover{
	background-color:red;
}
button:active{
	background-color:blue;
}